/* *,
*::after,
*::before{
    border: 1px solid green;
    margin: 2px;
    padding: 2px;
    box-sizing: border-box;
} */

html{
    font-family:Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    justify-content: space-between;
}



.hero{
    background-color: #1F2937;
    flex: 1;
    padding: 20px 30px;    
}

.banner{
    display: flex;
    justify-content: space-between;
}

.banner .links{
    display: flex;
    gap: 10px;
}


.hero .banner .logo{
    font-size: 24px;
    color: #F9FAF8;
}

.hero .banner .links a{
    display: block;
    font-size: 18px;
    color: #EFE7EB;
    text-decoration: none;
}

.content{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 400px;
}

.content .enlarged-text{
    font-size: 48px;
    font-weight:bolder;
    color: #F9FAF8;
    min-width: 0;
}

.content .sub-text{
    font-size: 18px;
    color: #EFE7EB
}

.button{
    flex-shrink: 1;
    background-color: #3882F6;
    color: #EFE7EB;
    margin-right: auto;

    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 40px;
    border-radius: 5px
}

.image{

    display: flex;

    align-items: center;
    justify-content: center;

    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 500px;

    min-width: 0px;

    background-color: #8E8E8E;
    color: #EFE7EB;
}
