*,
*::after,
*::before{
    border: 1px solid green;
    margin: 2px;
    padding: 2px;
    box-sizing: border-box;
}

html{
    font-family:Arial, Helvetica, sans-serif;
}



.hero{
    background-color: #1F2937;
}

.banner{
    display: flex;
    justify-content: space-between;
}


.hero .banner .logo{
    font-size: 24px;
    color: #F9FAF8;
}

.hero .banner .links a{
    display: block;
    font-size: 18px;
    color: #EFE7EB;
    text-decoration: none;
}
